<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.seutcc.app" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Monitoramento TCC"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MonitoramentoTCC"
        android:usesCleartextTraffic="true" >
        <activity
            android:name=".DetalhesEstacaoActivity"
            android:exported="true" />

        <activity android:name=".EstacoesActivity" />

        <activity
            android:name=".RegisterActivity"
            android:exported="true" />
        <activity
            android:name=".RelatoriosActivity"
            android:exported="true" />
        <activity
            android:name=".DetalhesTremActivity"
            android:exported="true" />
        <activity
            android:name=".LoginActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>